.video-bg {
  position: relative;
  width: 100%;
  height: 110vh;
  overflow: hidden;
}
.video-bg video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
}
h1 {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 1s forwards;
  padding-top: 90px;
  color: rgba(107, 182, 219, 0.899);
  text-align: center;
  font-size: 200px;
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* .anh1 {
  display: flex;
  gap: 12px;
  overflow: hidden;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  background: #111;
  border-radius: 12px;
  backdrop-filter: blur(30px);
}

.anh1 img {
  width: 150px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
} */
